.review-card-container {
    width: 376px;
    border-radius: 15px;
    background-color: #0D0B21;
    overflow: hidden;
    padding: 20px 25px;
    display: grid;
    grid-template-columns: 1fr;
    min-height: 210px;
}
.review-card-title {
    display: flex;
    gap: 1.3rem;
    align-items: center;
    justify-content: left;
}
.review-card-title-image img {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    pointer-events: none;
}
.review-card-title p:nth-child(1) {
    font-size: 16px;
}
.review-card-title p:nth-child(2) {
    font-size: 14px;
    color: rgba(255, 255, 255, .5);
}
/* .review-card-message {
    font-size: 14px;
    width: 326px;
    height: 58px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 10px;
} */
.review-card-message {
    font-size: 14px;
    display: -webkit-box;
    max-height: 66px;
    overflow: hidden;
}
.review-card-stars {
    font-size: 20px;
    color: #7F69E0;
    display: flex;
}

@media ( max-width: 1300px ) {
    .review-card-container {
        width: 340px;
        min-height: 210px;
    }
    .review-card-title-image img {
        width: 45px;
        height: 45px;
    }
    .review-card-title p:nth-child(1) {
        font-size: 14px;
    }
    .review-card-title p:nth-child(2) {
        font-size: 12px;
    }
    .review-card-message {
        font-size: 12px;
        max-height: 55px;
    }
    .review-card-stars {
        font-size: 18px;
    }
}

@media ( max-width: 679px ) {
    .swiper-wrapper {
        width: 100%;
    }
    .review-card-container {
        width: 100%;
        min-height: 210px;
    }
    .review-card-title-image img {
        width: 45px;
        height: 45px;
    }
    .review-card-title p:nth-child(1) {
        font-size: 14px;
    }
    .review-card-title p:nth-child(2) {
        font-size: 12px;
    }
    .review-card-message {
        font-size: 12px;
        max-height: 55px;
    }
    .review-card-stars {
        font-size: 18px;
    }
}