.world-code-container {
    position: relative;
    margin: 10rem 1rem 2rem;
}
.world-code-image {
    width: 100%;
    margin-top: -5rem;
}
.world-code-image img {
    width: 100%;
    pointer-events: none;
}
.world-code-planet {
    position: absolute;
    top: 0;
    left: -3rem;
}
.world-code-planet img {
    width: 136.59px;
    height: 136.59px;
    transform: rotate(120deg);
}