@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


.world-code-container {
    position: relative;
}
.world-code-title {
    font-size: 48px;
    font-family: "IBM Plex Mono", monospace;
    width: 100%;
    text-align: center;
    color: #7F69E0;
}
.world-code-image {
    width: 100%;
    margin-top: -5rem;
}
.world-code-image img {
    width: 100%;
    pointer-events: none;
}
.world-code-planet {
    position: absolute;
    top: 0;
    left: -3rem;
}
.world-code-planet img {
    width: 136.59px;
    height: 136.59px;
    transform: rotate(120deg);
}