.languages-info-card {
    border-top: .1rem solid rgba(255, 255, 255, .2);
    padding: 20px;
}

.language-info {
    display: grid;
    grid-template-columns: 1fr 15fr;
    gap: 20px;
}
.language-info p:nth-child(1) {
    text-align: right;
}
.language-info p:nth-child(2) {
    text-align: left;
}
.language-info p {
    font-size: .8rem;
    display: flex;
    flex-wrap: wrap;
    white-space: pre-wrap !important;
    word-wrap: break-word !important;
}
@media ( max-width: 450px ) {
    .language-info p {
        font-size: .6rem;
    }
}